/* Works best on Chrome - localhost:8080 */

@font-face {
    font-family: 'SBL BibLit';
    src: url('SBL_BLit.ttf') format('truetype');
    font-display: swap;
}

body, html {
    font-family: 'SBL BibLit', 'Gentium Plus', 'Charis SIL', 'Arial Unicode MS', 'Arial', sans-serif;
    /* Gentium Plus and Charis SIL are good for extended Latin characters */
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #001111;
}

.container {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
}

.second-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Separate styles for #parasha and #reference */
#parasha, #weekday, #reference {
    font-size: 30px;
    color: white;
    background-color: transparent;
    flex-shrink: 0; /* Prevent shrinking */
}

#parasha {
    text-align: left;
}

#weekday {
    text-align: left;
}

#reference {
    text-align: right;
}

/* "textbox" class styling for second-group elements */
.textbox {
    padding: 15px;
    border-radius: 10px;
    background-color: #e6e6e6;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
}

/* Styles for Hebrew */
#hebrew {
    font-size: 60px;
    direction: rtl;
    height: 30vh;
    overflow: hidden;
}

/* Styles for Transliteration and English */
#translit, #english {
    font-size: 30px;
    height: 18vh;
}

.buttons-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 120px; /* Set a fixed width */
    text-align: center; /* Ensure text is centered */
}

button:hover {
    background-color: #45a049;
}
